*{
    padding:0;
    margin:0;
    border-sizing:border-box;
    font-size:1.5 rem;
}
body{
    padding:5%;
    text-align:center;
}
.post-container{
    width:100%;
}
.post-container h1{
    margin:2rem
}
.form{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-item:center;
    gap:0.5rem 1rem;
    align-item:center;

}
 input,textarea{
    width:100%;
    padding:0.5rem;
}
textarea{
 height:60vh;
}
input[type="submit"]{
    align-self:center;
    max-width:30%;
}