<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles/landing-page.css">
</head>
<body>
<nav>
    <h2>My Blog Application</h2>
    <div>
        <form>
            <input type="search" placeholder="search">
        </form>
        <a href="/login">Login</a>
    </div>
</nav>
<div class="blog-card-container">
    <div class="blog-card">
        <div class="heading">
            <h4>My Blog Application</h4>
            <p>Subham Sahu, 18/03/20024</p>
        </div>
        <p>
            kjwndkjawncfaejocneovasncoeasjvnosjdvnksndvjnsv nfijaeneijnvm fkav vv aqkvnev evinaqv evjeevj ev aej vae vi vjev k aevk ks. vk sv
        </p>
    </div>

    <div class="blog-card">
        <div class="heading">
            <h4>My Blog Application</h4>
            <p>Subham Sahu, 18/03/20024</p>
        </div>
        <p>
            kjwndkjawncfaejocneovasncoeasjvnosjdvnksndvjnsv nfijaeneijnvm fkav vv aqkvnev evinaqv evjeevj ev aej vae vi vjev k aevk ks. vk sv
        </p>
    </div>

    <div class="blog-card">
        <div class="heading">
            <h4>My Blog Application</h4>
            <p>Subham Sahu, 18/03/20024</p>
        </div>
        <p>
            kjwndkjawncfaejocneovasncoeasjvnosjdvnksndvjnsv nfijaeneijnvm fkav vv aqkvnev evinaqv evjeevj ev aej vae vi vjev k aevk ks. vk sv
        </p>
    </div>
</div>
</body>
</html>